mixin checkbox-list(title)
    label.item
        input.item__input(type="checkbox" name="facilities-list")
        span.item__checkbox
        span.item__title= title

mixin rooms-list(img, number, luxury, star_1, star_2, star_3, star_4, star_5, price, reviews)
    -var path= "../assets/img/rooms/"
    div.rooms__item
        div.image
            i.image__expand_1 expand_more
            i.image__expand_2 expand_more
            div.slider-track
                div.slider-item
                    a(href='#')
                        img.image__img(src=`${path}${img}.jpg`)
                    a(href='#')
                        img.image__img(src=`${path}${img}.jpg`)
                    a(href='#')
                        img.image__img(src=`${path}${img}.jpg`)
                    a(href='#')
                        img.image__img(src=`${path}${img}.jpg`)
            div.image__circles
                div.circle__active
                div.circle
                div.circle
                div.circle
        div.rooms__main.room
            div.room__number № 
                span.room__number_big= number
            span.room__luxury= luxury
            div.room__price= price
                span.room__price_light  в сутки
        div.rooms__bottom.rating
            div.rating__stars
                i.rating__star.material-icons= star_1
                i.rating__star.material-icons= star_2
                i.rating__star.material-icons= star_3
                i.rating__star.material-icons= star_4
                i.rating__star.material-icons= star_5
            div.rating__reviews= reviews 
                span.rating__reviews_light  Отзывов

section.search-page.container
    aside.search-page__side(data-da="filters-mobile, last, 577")
        div.residence-guests
            div.residence-guests__group-1
                label.residence-guests__dates-title(for="residence") Даты пребывания в отеле
                div.icon
                    input.residence-guests__dates-input(type="text" id="residence" readonly autocomplete="off" placeholder="19 авг - 23 авг")
                    i.icon__expand-input expand_more
            div.residence-guests__group-2
                label.residence-guests__guest-title(for="guests") Гости
                div.icon
                    input.residence-guests__guest-input(type="text" id="guests" readonly autocomplete="off" placeholder="3 гостя, 1 младенец")
                    i.icon__expand-input expand_more
        div.price-range
            div.price-header
                span.price-header__title Диапозон цены
                span.price-header__prices
            div.price-filter
            div.price-footer
                span.price-footer__text Стоимость за сутки пребывания в номере
        div.search-page__checkboxes
            div.checkbox-rules
                span.checkbox-rules__title Правила дома
                label.checkbox-rules__smoking.smoking
                    input.smoking__input(type="checkbox" name="smoking")
                    span.smoking__checkbox
                    span.smoking__text Можно курить
                label.checkbox-rules__pets.pets
                    input.pets__input(type="checkbox" name="pets")
                    span.pets__checkbox
                    span.pets__text Можно c питомцами
                label.checkbox-rules__limit.guest-limit
                    input.guest-limit__input(type="checkbox" name="guest-limit")
                    span.guest-limit__checkbox
                    span.guest-limit__text Можно пригласить гостей<br>(до 10 человек)
            div.checkbox-availability
                span.checkbox-availability__title Доступность
                label.wide-corridor
                    input.wide-corridor__input(type="checkbox" name="wide-corridor")
                    span.wide-corridor__checkbox
                    span.wide-corridor__title Широкий коридор
                span.wide-corridor__subtitle Ширина коридоров в номере<br>не менее 91 см.
                label.assistant
                    input.assistant__input(type="checkbox" name="wide-corridor")
                    span.assistant__checkbox
                    span.assistant__title Помощник для инвалидов
                span.assistant__subtitle На 1 этаже вас встретит специалист<br>и проводит до номера.
        div.facilities
            label.facilities__title(for="facilities") Удобства номера
            div.icon
                input.facilities__input(type="text" id="facilities" readonly autocomplete="off" placeholder="2 спальни, 2 кровати")
                i.icon__expand-input expand_more
        div.facilities-extra
            div.extra-text
                span.extra-text__title Дополнительные удобства
                i.icon__expand-facilities expand_more
            div.facilities-items
                +checkbox-list("Завтрак")
                +checkbox-list("Письменный стол")
                +checkbox-list("Стул для кормления")
                +checkbox-list("Кроватка")
                +checkbox-list("Телевизор")
                +checkbox-list("Шампунь")
    div.search-page__main.hotel-number
        div.filters-mobile
            button.filters-mobile__button Фильтры
        h1.hotel-number__title Номера, которые мы для вас подобрали
        div.hotel-number__rooms.rooms
            div.rooms__row
                +rooms-list("room-1", "888", "Люкс", "star", "star", "star", "star", "star", "9 990₽", "145")
                +rooms-list("room-2", "840", "", "star", "star", "star", "star", "star_border", "9 900₽", "65")
                +rooms-list("room-3", "980", "Люкс", "star", "star", "star", "star_border", "star_border", "8 500₽", "35")
            div.rooms__row
                +rooms-list("room-1", "856", "", "star", "star", "star", "star", "star", "7 300₽", "19")
                +rooms-list("room-1", "740", "", "star", "star", "star", "star", "star_border", "6 000₽", "44")
                +rooms-list("room-1", "982", "", "star", "star", "star", "star_border", "star_border", "5 800₽", "56")
            div.rooms__row
                +rooms-list("room-1", "678", "", "star", "star", "star", "star", "star", "5 500₽", "45")
                +rooms-list("room-1", "450", "", "star", "star", "star", "star", "star_border", "5 300₽", "39")
                +rooms-list("room-1", "350", "", "star", "star", "star", "star_border", "star_border", "5 000₽", "77")
            div.rooms__row
                +rooms-list("room-1", "666", "", "star", "star", "star", "star", "star", "5 000₽", "25")
                +rooms-list("room-1", "444", "", "star", "star", "star", "star_border", "star_border", "5 000₽", "15")
                +rooms-list("room-1", "352", "", "star", "star", "star", "star_border", "star_border", "5 000₽", "55")
        div.pagging
            div.pagging__list
                a.pagging__item(href="") 1
                a.pagging__item(href="") 2
                a.pagging__item(href="") 3
                span.pagging__item ...
                a.pagging__item(href="") 15
            a.pagging__arrow(href="")
                i.icon__arrow-page arrow_forward 
        div.rent-variation
            span.rent-variation__text 1 – 12 из 100+ вариантов аренды
